.socials-container {
  display: flex;
  justify-content: center;
  gap: 54px;
  margin-bottom: -53px;
}

@media (max-width: 575px) {
  .socials-container {
    margin-bottom: 0px;
    gap: 30px;
  }
  .socials-container a {
    font-size: 15px;
  }
}
